<h1> HOME </h1>

<p> What would you like to tell Coach? </p>

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What would you like to tell coach?">
  <input type="submit">
</form>
